<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.hi.clothingStore.vo.ProductListVO" alias="productlistVO"/>
		<typeAlias type="com.hi.clothingStore.vo.ProductListVO2" alias="productlistVO2"/>
		<typeAlias type="com.hi.clothingStore.vo.ProductListVO3" alias="productlistVO3"/>
		<typeAlias type="com.hi.clothingStore.vo.ProductListVO4" alias="productlistVO4"/>
		<typeAlias type="com.hi.clothingStore.vo.ProductPageVO" alias="productpageVO"/>
		<typeAlias type="com.hi.clothingStore.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="com.hi.clothingStore.vo.ServiceCenterVO" alias="serviceVO"/>
		<typeAlias type="com.hi.clothingStore.vo.ServiceCenterFaqVO" alias="faqVO"/>
		<typeAlias type="com.hi.clothingStore.vo.ReviewVO" alias="reviewVO"/>
		<typeAlias type="com.hi.clothingStore.vo.ReviewListVO" alias="reviewlistVO"/>
		<typeAlias type="com.hi.clothingStore.vo.LikeVO" alias="likeVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/productlist.xml"/>
		<mapper resource="mapper/member.xml"/>
		<mapper resource="mapper/servicecenter.xml"/>
		<mapper resource="mapper/servicecenterfaq.xml"/>
		<mapper resource="mapper/review.xml"/>
		<mapper resource="mapper/like.xml"/>
	</mappers>
	
</configuration>